mat-card {
  width: 100px; // Ajustez la largeur selon vos besoins
  height: 150px; // Ajustez la hauteur selon vos besoins
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px; // Arrondir les coins pour un look de carte à jouer
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Ombre pour donner un effet de profondeur
  margin: 10px;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1); // Agrandir la carte au survol
    z-index: 1; // Pour que la carte passe au-dessus des autres
    mat-card-title {
      font-size: 1.2em; // Augmenter la taille du titre
    }

    mat-card-content {
      font-size: 1.05em; // Augmenter la taille du texte de l'effet
    }

    .cost {
      font-size: 1.1em; // Augmenter la taille du texte du coût
    }
  }
}

mat-card-title {
  text-align: center;
  font-size: 1.1em;
  margin-top: 10px; // Espace au-dessus du titre
}

mat-card-content {
  text-align: center;
  flex-grow: 1;
}

.cost {
  text-align: right;
  font-size: 1em;
  margin: 5px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
